/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target-path = "/";
        __overlay__ {
            rpi_backlight: rpi_backlight {
                compatible = "gpio-backlight";
                gpios = <&gpio 19 0>;
                default-on;
                pinctrl-names = "default";
            };
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {
            i2c_gpio: i2c@0 {
                compatible = "i2c-gpio";
                gpios = <&gpio 10 0 /* sda */
                     &gpio 11 0 /* scl */
                    >;
                i2c-gpio,delay-us = <4>;
                #address-cells = <1>;
                #size-cells = <0>;

                ft6236_14: ft6236@14 {
                    compatible = "goodix,gt911";
                    reg = <0x14>;
                    interrupt-parent = <&gpio>;
                    interrupts = <27 2>;
                    touchscreen-size-x = <480>;
                    touchscreen-size-y = <800>;
                    touchscreen-x-mm = <51>;
                    touchscreen-y-mm = <85>;
                    touchscreen-inverted-y;
                    touchscreen-swapped-x-y;
                };

                ft6236_5d: ft6236@5d {
                    compatible = "goodix,gt911";
                    reg = <0x5d>;
                    interrupt-parent = <&gpio>;
                    interrupts = <27 2>;
                    touchscreen-size-x = <480>;
                    touchscreen-size-y = <800>;
                    touchscreen-x-mm = <51>;
                    touchscreen-y-mm = <85>;
                    touchscreen-inverted-y;
                    touchscreen-swapped-x-y;
                };
            };
        };
    };
};
